<div class="row">
  <div class="eight columns">
    <h1>Escribe tu mensaje</h1>

    <%= render 'form' %>

    <%= link_to 'Cancelar', messages_path, :class => "radius medium secondary button" %>    
  </div>
</div>

