<h1>Administración</h1>
<div class="row">
  <div class="six columns">
    <h4>Confirmados [<%= @access_requests.size %>] </h4>
    <% if !@access_requests.blank? %>
      <% for r in @access_requests %>
        <div class="request_row">
          <%= r.name %> - <%= r.email %> <%= link_to '[X]', r, confirm: 'Seguro que desea eliminar la solicitud?', method: :delete %>
        </div>
      <% end %>
    <% else %>
      No hay confirmados.
    <% end %>
  </div>
    
  <div class="six columns">
    
  </div>
</div>
