<div class="row">
  <h1>Os atenderemos encantados</h1>
  <div class="six columns">
    <h3>Déborah Silva</h3>
    <div class="box">
      <p class="info">
        <b>tlf.</b> 680 85 33 25<br />
        <b>email.</b> deborahsilvavarela@hotmail.com<br />      
      </p>
    </div>
  </div>
  <div class="six columns">
    <h3>Pablo Formoso</h3>
    <div class="box">
      <p class="info">
        <b>tlf.</b> 670 71 14 40<br />
        <b>email.</b> pablo@pabloformoso.com<br />      
      </p>
    </div>
  </div>
</div>
  

