<div class="row">
  <div class="six columns box">
    <p class="info">
      Para evitar desplazamientos innecesarios el Hotel Portocobo, donde terminará la noche en su discoteca ofrece a todos los que lo deséis 
      la posibilidad de pasar la noche allí con un <b>20% de descuento</b> en la habitación (rondará los 40€).<br /><br />
      Para ello realizar la reserva indicando que sois asistentes de la boda. Las reservas por web u otros medios nos han advertido que no podrán aplicar el descuento.
      <br /><br />
      <b>Contaco:</b><br />
      tlf. +34 981 614 100 <br />
      @: reservas@hotelportocobo.com <br />
    </p>
  </div>

  <div class="six columns">
    <div class="row">
      <div id="featured" class="orbit">
        <%= image_tag "boda1.jpg" %>
        <%= image_tag "boda3.jpg" %>
        <%= image_tag "boda5.jpg" %>      
      </div>      
    </div>
    <div class="row">
      <div class="twelve columns box">
        <p class="info">
          <br />
          Nos encantaría que los que se tenga que desplazar aprovechen y puedan disfrutar de la noche <b>olvidándose del coche</b>.
          <br /><br />
        </p>        
      </div>
    </div>
  </div>
</div>
  