<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2><%= @name %> ya puedes acceder a <%= link_to "la web de la boda.", "http://boda.pabloformoso.com" %></h2>
    <p>
      Puedes acceder a la web usando estos datos<br />
      <b>Email:</b> <%= @email %><br />
      <b>Contraseña:</b> boda2012<br />
      desde <%= link_to "la página principal", "http://boda.pabloformoso.com" %>.      
    </p>

    <p>
      Muchas gracias. :)<br />
      Att. Déborah y Pablo.
    </p>
  </body>
</html>