<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Hemos recibido tu solicitud <%= @name %></h2>
    <p>
      Para tener el máximo de privacidad te enviaremos la contraseña en 24/48 horas.<br />
      Esperamos que entiendas que en este día nos gustaría la máxima intimidad para nosotros y nuestros invitados.
    </p>
    <p>
      Una vez recibida podrás entrar desde <%= link_to "la página principal", "http://boda.pabloformoso.com" %>
    </p><br />
    <p>
      Muchas gracias y esperamos que tengas un buen día :)<br />
      Att. Déborah y Pablo.
    </p>
  </body>
</html>